<main>
    <section class="container">
      <article class="card">
        <img src="../images/acc_totat_perc2.png" class="card-img-top" alt="image">
        <div class="card-body">
          <h2 class="card-title">Accum. Total Precip</h2>
          <p class="card-text">Sum of all rainfall, snowfall, or moisture over a specified period.</p>
          <a href="https://weather.us/model-charts/euro/pakistan/accumulated-precipitation.html" class="btn">Go</a>
        </div>
      </article>

      <article class="card">
        <img src="../images/windguru.jpg" class="card-img-top" alt="image">
        <div class="card-body" >
          <h2 class="card-title">WindGuru</h2>
          <p class="card-text" >Wind forecasting platform focusing on detailed wind.</p>
          <a href="https://www.windguru.cz/map/?lat=24.956077957370738&lon=67.118118127034&zoom=6.459449815219664" class="btn">Go</a>
        </div>
      </article>

      <article class="card">
        <img src="../images/meteored.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h2 class="card-title">Meteored</h2>
          <p class="card-text">Weather website and app offering global forecast and radar images.</p>
          <a href="https://www.meteored.com/" class="btn">Go</a>
        </div>
      </article>

      
      <article class="card">
        <img src="../images/radar2.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h2 class="card-title">Radar</h2>
          <p class="card-text">Live depiction of recent hours' rainfall history.</p>
          <a href="https://radar.pmd.gov.pk/jbirds/" class="btn">Go</a>
        </div>
      </article>
      <article class="card">
        <img src="../images/weatherbug.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h2 class="card-title">Weather Bug</h2>
          <p class="card-text">Real-time weather app with forecasts and alerts.</p>
          <a href="https://www.weatherbug.com/maps/karachi-sind-pk?center=25.584492113549473,67.66851143521427,3.8102377754160885" class="btn">Go</a>
        </div>
      </article>

      <article class="card">
        <img src="../images/setallite_v.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h2 class="card-title">Satellite view</h2>
          <p class="card-text">Real-time global satellite imagery for precise weather exploration.</p>
          <a href="https://www.windy.com/-Satellite-satellite?satellite,24.564,67.854,6" class="btn">Go</a>
        </div>
      </article>

      <article class="card">
        <img src="../images/lght_strk.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h2 class="card-title">Lightning Strike</h2>
          <p class="card-text">Feature or service monitoring and reporting lightning activity.</p>
          <a href="https://www.weatherandradar.com/weather-map?center=26.76,67.76&zoom=6.22&layer=lr" class="btn">Go</a>
        </div>
      </article>
  </main>