<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeatherQuick</title>
  <link rel="stylesheet" href="/style.css"/>
 
  <meta name="description" content="A quick shortcut website">
  <meta name="keywords" content="weatherquick, weather quick, shortcut weather shortcut, best weather website, weather radar">
  <meta name="google-site-verification" content="GxFoDlUfDmDww8zEp_koCq5JLJnNpBqa_-5kQAvTW7M" />
  <link href="https://fonts.googleapis.com/css2?family=Foldit:wght@200&family=Nova+Square&family=Pixelify+Sans:wght@600&family=Ubuntu&display=swap" rel="stylesheet">
 <!-- <link rel="manifest" href="/manifest.json"> -->

</head>
<body>
  <header>
 <nav class="navbar">
   <ul>
     <li class="nav-item logo">
       <a href="/" title="Go to home page">
         <img src="../images/logo.png" alt="WeatherQuick">
       </a>
     </li>

     
   </ul>
 </nav>

    <%- body %>
  </header>


  <footer>
    <p>&copy; 2024 WeatherQuick.<br/> All rights reserved</p>

  </footer>
  
  <script src="script.js"></script>
</body>

</html>